.title{
    padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
/* CSS on 11-09-23 Agent Customers */
.phone_with_ccode {
  display: flex;
  flex-wrap: wrap;
}
/* .phone_with_ccode select#select {
  width: 200px;
}
.phone_with_ccode input#mobile_number {
  width: calc(100% - 220px);
  margin-left: 20px;
} */
/* For checkbox */
.customCBWrap input.form-control {
  width: 25px;
  height: 25px;
}
.customCBWrap label {
  max-width: calc(100% - 25px);
  margin-bottom: 0px;
  padding: 0px 0px 0px 15px;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
}
.customCBWrap.col {
  display: flex;
  align-items: center;
}
.phone_with_ccode div.con_selectWrap {
  width: 200px;
}
.phone_with_ccode div.phone_num_wrap {
  width: calc(100% - 220px);
  margin-left: 20px;
}
.phone_with_ccode div.phone_num_wrap input{
  width: 100%;
}

