.c-sidebar .c-sidebar-minimizer:hover {
    background-color: #2a3445;
}
.c-sidebar .c-sidebar-minimizer {
    background-color: #303c53;
}
// .c-sidebar-minimized.c-sidebar-fixed:hover {
//     width: 256px !important;
// }
.c-sidebar-minimized a {
    width: 56px !important;
}