.c-sidebar .c-sidebar-minimizer:hover {
  background-color: #2a3445;
}
.c-sidebar .c-sidebar-minimizer {
  background-color: #303c53;
}
// .c-sidebar-minimized.c-sidebar-fixed:hover {
//     width: 256px !important;
// }
.c-sidebar-minimized a {
  width: 56px !important;
}

.c-sidebar-nav-dropdown-toggle::after {
  height: 14px !important;
}

html:not([dir="rtl"]) .c-sidebar-nav-dropdown-toggle::after {
  transform: rotate(-180deg);
}

html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link {
  padding-left: 70px;
}

.c-header .c-subheader {
  border-top: none !important;
}

.custom-modal .modal-dialog {
  max-width: 700px;
}

// .custom-modal
//   .modal-dialog
//   .modal-content
//   .modal-body
//   .shadow-lg
//   .webhook-urls {
//   // display: flex;
//   align-items: center;
//   min-height: 50vh;
//   overflow-y: auto;
//   max-height: 200px;
// }

.custom-modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        // max-height: 60vh; // Adjust based on need
        // overflow-y: auto;
        // padding: 20px;

        // // Add smooth scrolling and custom scrollbar styling
        // &::-webkit-scrollbar {
        //   width: 8px;
        // }

        // &::-webkit-scrollbar-track {
        //   background: #f1f1f1;
        //   border-radius: 10px;
        // }

        // &::-webkit-scrollbar-thumb {
        //   background: #888;
        //   border-radius: 10px;
        // }

        // &::-webkit-scrollbar-thumb:hover {
        //   background: #555;
        // }
      }

      .webhook-urls {
        // min-height: auto;
        // max-height: 40vh;
        min-height: 40vh;
        max-height: 60vh; // Adjust for content space
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.3);
          border-radius: 10px;
        }
      }
    }
  }
}

.webhook-urls ul li {
  font-size: 12px;
  margin-left: -20px;
}
