body {
    >iframe {
        display: none;
    }
}

.btn-primary {
    background-color: #2981c4 !important;
    border-color: #2981c4 !important;
}

// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";